* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow-x: hidden;
  width: 300px;
  margin: 20px 0 30px 0;
}

header {
  background-color: #3e57db;
  color: #fff;
  padding: 30px 20px;
}

.sub-title {
  display: inline-block;
  margin: 5px 0 20px;
}

.filter {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

.filter:focus {
  outline: none;
}

.user-list li {
  display: flex;
  padding: 20px;
}

.user-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.user-info h4 {
  margin: 0 0 10px;
}

.user-info p {
  font-size: 12px;
}

.user-list li:not(:last-of-type) {
  border-bottom: 2px solid #eee;
}

.loading {
  text-align: center;
  margin: 10px 0;
}